<template>
    <base-template>
        <template v-slot:banner>
            <div class="title">
                <logo
                    src="/images/logo_64x64.webp"
                    class="logo"
                    :alt="state.logoTitle" :title="state.logoTitle"/>
                <h1>
                    {{ state.title }}
                </h1>
            </div>
            <action-bar v-if="state.dropdownOpen">
                <button
                    v-if="!user.isLoggedIn.value"
                    :title="user.status.value"
                    @click="login">Login</button>
                <button 
                    v-else              
                    :title="user.status.value"
                    @click="logout">Logout</button>
            </action-bar>
            <avatar 
                default-src="/images/person.webp"
                :src="user.photo.value"
                :fn="user.fn.value || 'Logged out'"
                @click="toggleDropdown" />
        </template>
        <template v-slot:navigation>
            <router-link class="button" to="/browse">Browse</router-link>
            <router-link class="button" to="/publish">Publish</router-link>
            <form>
                <label>Find Something</label>
                <input type="text" name="search" v-model="state.search">
                <button type="submit" @click.stop.prevent="submit">Search</button>
            </form>
        </template>
        <template v-slot:main>
            <component
                v-bind:is="section"
                v-if="user.fn.value"
                :heading="user.fn.value"
                :subheading="user.role.value"
                :paragraphs="state.description" />
        </template>
        <template v-slot:footer>
            <copy-right />
        </template>
    </base-template>
</template>

<script>
import { reactive, computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';
import ActionBar from '@/components/atoms/ActionBar.vue';
import Avatar from '@/components/molecules/Avatar.vue';
import BaseTemplate from '@/components/templates/BaseTemplate.vue';
import Logo from '@/components/atoms/Logo.vue';
import CopyRight from '@/components/atoms/CopyRight.vue';
import Section from '@/components/organisms/Section.vue';

export default {
    name: 'Homepage',
    components: {
        BaseTemplate,
        Logo,
        ActionBar,
        CopyRight,
        Avatar,
        Section
    },
    setup() {
        const router = useRouter();
        const route = useRoute();
        const store = useStore()

        document.addEventListener('solid-login', () => {
            fillState();
        });
        
        // TODO: Add other sources possibilities, instead of only https://inrupt.net
        store.dispatch('solidUser/setUserProvider', 'https://inrupt.net');
        const user = {
            fn: computed(() => store.state.solidUser.fn),
            role: computed(() => store.state.solidUser.role),
            status: computed(() => store.state.solidUser.status),
            statusRole: computed(() => store.state.solidUser.statusRole),
            photo: computed(() => store.state.solidUser.photo),
            isLoggedIn: computed(() => store.state.solidUser.isLoggedIn),
            webId: computed(() => store.state.solidUser.webId),
        };

        const state = reactive({
            description: '',
            dropdownOpen: false,
            logoTitle: 'Applicable logo',
            title: computed(() => route.name),
            search: ''
        });

        function login() {
            store.dispatch('solidUser/login').then(() => {
                fillState();
            });
        }
        function logout() {
            store.dispatch('solidUser/logout').then(() => {
                resetState();
            });
        }

        function writeDescription() {
            let desc = '';
            if (user.isLoggedIn.value) {
                desc = `${user.fn.value}. Welcome to RDF Playground: Full of RDF Explorers and Graphs.`;
            }
            return desc;
        }

        function fillState() {
            store.dispatch('solidUser/getUserProfile').then(() => {
                state.description = [writeDescription()];
            });
        }

        function resetState() {
            state.description = [];
            router.replace(route.path);
        }
    
        function submit () {
            //if you want to send any data into server before redirection then you can do it here
            router.push({ path: '/search', query: {q: state.search} });
        }

        function toggleDropdown() {
            state.dropdownOpen = !state.dropdownOpen;
        }

        return {
            state,
            user,
            login,
            logout,
            submit,
            toggleDropdown
        };
    }
};
</script>
