<template>
    <banner>
        <slot name="banner"></slot>
    </banner>
    <navigation>
        <slot name="navigation"></slot>
    </navigation>
    <the-main>
        <slot name="main"></slot>
    </the-main>
    <the-footer>
        <slot name="footer"></slot>
    </the-footer>
</template>

<script>
import Banner from '@/components/atoms/Banner.vue';
import TheFooter from '@/components/atoms/Footer.vue';
import TheMain from '@/components/atoms/Main.vue';
import Navigation from '@/components/atoms/Navigation.vue';

export default {
    name: 'BaseTemplate',
    components: {
        Banner,
        TheFooter,
        TheMain,
        Navigation
    }
};
</script>

<style scoped>
    
</style>
