<template>
<div class="actions">
    <slot />
</div>
</template>

<style scoped>
    .actions {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: column;
        justify-content: end;
        margin: 1rem;
    }
</style>