<template>
<header>
    <slot />
</header>
</template>

<style>
header {
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid var(--primary-color);
    padding: 1rem;
}
header .title {
    display: flex;
}
header h1 {
    margin: auto;
}
</style>