<template>
<nav>
    <slot />
</nav>
</template>

<style scoped>
    nav {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: column;
        justify-content: end;
        padding: 1rem;
    }
</style>