<template>
    <div class="avatar">
        <logo 
            :src="src !== '' ? src : defaultSrc"
            :alt="fn" />
        <figcaption>{{ fn }}</figcaption>
    </div>
</template>

<script>
import Logo from '@/components/atoms/Logo.vue';
export default {
    name: 'Avatar',
    components: {
        Logo
    },
    props: {
        src: String,
        defaultSrc: String,
        fn: String
    }
}
</script>

<style scoped>
.avatar {
    display: flex;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--primary-color);
}

.avatar:hover {
    background: #e0eaee;
    border: 1px solid #e0eaee;
}

.avatar:after {
    content: "v";
    font-weight: 800;
    margin: auto;
    padding: 0 1rem;
}

.avatar img {
    height: 100%;
    width: 3rem;
    border-radius: 1.5rem;
}

.avatar figcaption {
    margin: auto;
}
</style>
