<template>
    <section>
        <h2 v-if="heading">{{ heading }}</h2>
        <h3 v-if="subheading">{{ subheading }}</h3>
        <template v-for="(paragraph, index) in paragraphs" :key="'p-' + index">
            <p>{{ paragraph }}</p>
        </template>
    </section>
</template>

<script>
export default {
    props: {
        columns: Number,
        rows: Number,
        heading: String,
        subheading: String,
        paragraphs: Array,
    }
}
</script>