<template>
    <router-view/>
</template>

<script>
export default {
    name: 'App'
};
</script>

<style>
@import '~normalize.css/normalize.css';
@import 'styles/main.css';
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--primary-color);
}
button, .button {
    font-size: 1rem;
    background: var(--primary-color);
    color: #fff;
    padding: 0.25rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;
}
button:hover, .button:hover {
    background: var(--highlight-color);
    border: 1px solid var(--highlight-color);
}
input {
    margin: 0 1rem;
    font-size: 1rem;
    padding: calc(0.25rem);
    border: 1px solid var(--primary-color);
}
.logo {
    height: 3rem;
}
</style>
